
.Cast_maincontainer {
   margin: 30px 50px;  
   font-family: 'Judson', serif ;
   .Cast_col {
      margin-bottom: 20px;
     
   }

   h6 {
      font-weight: 700;
      font-size: 1.1rem;
   }
    p {
      font-weight: 100;
      font-size: 0.9rem;
   }

   .Cast_birthdate p{
      font-weight: 300;
      font-size: 1rem;
   }
}

.ShowInfo_main {
   font-family: 'Judson', serif ;
   padding: 10px 20px 50px 20px;

   h2 {
      font-weight: 700;
   }

   h5 {
      font-weight: 200;
   }

   h6{
      font-weight: 900;
   }

   p{
      font-weight: 100;
      text-align: justify;
   }
}


